* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header video {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

header {
    width: 100%;
}

header nav {
    width: 90%;
    margin: 0 auto;
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%; */
    display: flex;
    justify-content: space-between;
}

header nav .nav-main1 {
    width: 70%;
    color: rgb(245, 0, 0);
    height: 75px;
    display: flex;
    justify-content: space-evenly;

}

header nav .nav-main1 main {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 17px;
}
header nav .nav-main1 main h4:hover{

    color: rgb(255, 255, 2);
    cursor: pointer;
    transform: scale(1.2);
}

header nav .nav-main1 img {
    position: relative;
    top: 10px;
}

header nav .nav-main2 {
    width: 20%;
    height: 75px;
    color: rgb(255, 5, 5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav .nav-main2 h4:hover{
    color: rgb(255, 242, 3);
    cursor: pointer;
    transform: scale(1.2);
}
hr {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

header .header-main1 {
    width: 90%;
    height: 68vh;
    margin: auto;
    display: flex;
    align-items: end;

}

header .header-main1 aside h1 {
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 0px 20px 0px;
}

header .header-main1 aside button {
    color: white;
    background-color: blue;
    font-size: 17px;
    font-weight: bolder;
    padding: 10px 25px;
    border-radius: 10px;
    border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 60vh;
    /* border: 2px solid black; */
    margin-top: 150px;
    margin-bottom: 80px;
}

.container article {
    width: 70%;
    margin: 0 auto;
}

.container article h1 {
    font-size: 45px;
    font-weight: lighter;
    color: black;
    margin-top: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container article main {
    display: flex;
    justify-content: space-between;
}

.container article main div {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container article main div h3 {
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.container article main div button {
    padding: 20px;
    font-size: 15px;
    width: 210px;
}

.container-1 {
    margin-top: 30px;
    width: 100%;
    height: 80vh;
    background-image: url(bmwimages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-1 main {
    width: 90%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    align-items: end;

}

.container-1 main .container1-a .container1-ab {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}

.container-1 main .container1-a .container1-ab h3 {
    letter-spacing: 5px;
}

.container-1 main .container1-a .container1-abc button {
    padding: 10px 80px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;


}

.container-1 main .container1-a .container1-abc button:hover {
    /* border: 2px solid white; */
    box-shadow: 0px 0px 1px 1px white inset;
}

.container-2 {
    width: 100%;
    height: 80vh;
    background-image: url(newbmw1.avif);
    margin-top: 45px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.container-2 article {
    width: 80%;
    height: 80%;
    margin: auto;
    position: relative;
    top: 30px;
}

.container-2 article .container2-a h3 {
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.container-2 article .container2-a h1 {
    color: rgb(7, 7, 7);
    font-size: 200px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -50px;

}

.container-2 article .container2-a p {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -25px;
    margin-bottom: 20px;
}

.container-2 article .container2-a button {
    padding: 10px 80px;
    font-size: 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(17, 16, 16);
}

.container-2 article .container2-a button:hover {
    box-shadow: 0px 0px 1px 1px white inset;
}

/* .container-1 article .container2-a button:hover{
    box-shadow: 0px 0px 1px 1px white inset;
} */

.container-3 {
    width: 100%;
    height: 80vh;
    background-image: url("../../../../../../../newbmw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 45PX;

}

.container-3 article {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    align-items: end;
    color: aliceblue;
}

.container-3 article div h2 {
    color: white;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;
}

.container-3 article div button {
    padding: 10px 80px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.container-3 article div button:hover {

    box-shadow: 0px 0px 1px 1px white inset;

}

.container-4 {
    width: 100%;
    height: 80vh;
    background-image: url(bmw3.jpg);
    margin-top: 45px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-4 article {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.container-4 article div p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container-4 article div h2 {
    color: white;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;

}

.container-4 article div button {
    padding: 10px 80px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-top: 20px;
}

.container-4 article div button:hover {

    box-shadow: 0px 0px 1px 1px white inset;

}

.container-5 {
    width: 100%;
    height: 80vh;
    margin-top: 50px;

}

.container-5 article {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

.container-5 article div {
    width: 53%;
    margin-right: 10px;
}

.container-5 article main {
    width: 45%;
    height: inherit;
    display: flex;
    align-items: center;

}

.container-5 article div img {
    width: 100%;
    height: 60vh;
}

.container-5 article main div {
    width: 100%;
   
}

.container-5 article main div h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;

}

.container-5 article main div .para {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

.container-5 article main div .para1 {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-bottom: 25px;
}

/* <!-- --------------------new code starts from here  ------------------> */
.container-6 {
    width: 100%;
    height: 75px;
    background-color: lightgray;
    /* opacity: 0.3; */
}

.container-6 article {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.container-6 article .container-6-a {
    width: 40%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-6 article .container-6-b {
    width: 30%;
    height: 75px;
    display: flex;
    align-items: center;
}

.container-6 article .container-6-b h3 {
    font-weight: bolder;
    color: black;

}

.container-6 article .container-6-b span {
    margin-left: 5px;
}

.container-7 {
    width: 100%;
    height: 100vh;
    background-color: lightgrey;
    margin-top: 0px;
}

.end {
    width: 100%;
    margin-top: -2px;
}

.container-7 article {
    width: 90%;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 400px); */
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}

.container-7 article div {
    margin-top: 30px;
}

.container-7 article div h2 {
    margin-bottom: 30px;
}

.container-7 article div p a {
    text-decoration-line: none;
    color: black;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.container-7 article div P a:hover {
    color: blue;
}

.whatsapp img {
    border-radius: 50px;
    position: fixed;
    right: 20px;
    top: 60vh;
}