*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
header video{
    width: 100%;
    height: 90vh;
    position:absolute ;
    top:0;
    left:0;
    object-fit: cover;
    z-index: -1;
}
header{
    width: 100%;
}
header nav{
    width: 90%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}
header nav .nav-main1{
    width:100%;
    color:white;
    height: 75px;
    display: flex;
    justify-content: space-evenly;

}
header nav .nav-main1 main{
    width:100%;
    height:75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav .nav-main1 img{
    position:relative;
    top:10px;
}
header nav .nav-main2{
    width:20%;
    height:75px;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    width:90%;
    margin: 0 auto;
    position: relative;
    top:10px;
}
header .header-main1{
    width:90%;
    height: 68vh;
    margin:auto;
    display:flex;
    align-items: end;
}
header .header-main1 aside h1{
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px 0px 20px 0px;
}
header .header-main1 aside button{
    color:white;
    background-color:blue ;
    font-size: 17px;
    font-weight:bolder;
    padding:10px 25px;
    border-radius:10px;
    border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    height:60vh;
    border:2px solid black;
    margin-top:100px;
}
.container article{
    width: 70%;
    margin: 0 auto;
}
.container article h1{
    font-size:45px;
    font-weight:lighter;
    color:black;
    margin-top:10px;
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container article main{
    display: flex;
    justify-content: space-between;
}
.container article main div{
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.container article main div h3{
    font-size:30px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:20px;
}
.container article main div button{
    padding:20px;
    font-size :15px;
    width: 210px;
}
.container-1{
    margin-top: -20px;
    width:100%;
    height: 70vh;
    background-image: url(bmwimages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container-1 main{
    width:90%;
    height:60vh;
    margin:0 auto;
    display: flex;
    align-items:end;

   


}
.container-1 main .container1-a .container1-ab{
    color:white;
    font-size:20px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
.container-1 main .container1-a .container1-ab h3{
    letter-spacing: 5px;
}
.container-1 main .container1-a .container1-abc button{
    padding: 10px 80px;
    font-size:20px ;
    background-color: transparent;
    color: white;
    border:1px solid white;


}
.container-1 main .container1-a .container1-abc button:hover{
    border: 2px solid white;
} 
.container-2{
    width:100%;
    height:60vh;
    background-image:url(bmw3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:15px;
    
}
.container-2 article {
    width:80%;
    height: 80%;
    margin:auto;
    position:relative;
    top:30px;
}
.container-2 article .container2-a h3{
    color:white;
    letter-spacing: 5px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
}
.container-2 article .container2-a h1{
    color:white;
    font-size:200px ;
    font-weight:lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:-50px;

}
.container-2 article .container2-a p{
    color:white;
    font-size:25px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:-25px;
    margin-bottom:20px;
}
.container-2 article .container2-a button{
    padding: 10px 80px;
    font-size:20px ;
    background-color: transparent;
    color: white;
    border:1px solid white;
}
.container-2 article .container2-a button:hover{
    border:2px solid white;
}
.container-3 {
    width:100%;
    height:60vh;
    background-image:url(newbmw1.avif) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:15px;
}
.container-3 article{
    width:80%;
    height:80%;
    margin:auto;
    position:relative;
    top: 300px;
    text-align: center;
}
.container-3 article .container3-a h1{
    color:white;
    font-size:30px ;
    font-weight:lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:20px;
    margin-bottom: 20px;
    
    
} 
.container-3 article .container3-a button{
    padding: 10px 80px;
    font-size:20px ;
    background-color: transparent;
    color: white;
    border:1px solid white;
    margin-bottom: 30px;
}
.container-3 article .container3-a button:hover{
border:2px solid white;
}
.container-4{
     width:100%;
    height:60vh;
    background-image:url(bmwix.webp) ;
    margin-top:15px;
    
}
.container-4 article{
     width:90%;
    height:60vh;
    margin:0 auto;
    display: flex;
    align-items:end;
}
.container-4 article .container4-a h1{
     color:white;
    font-size:30px ;
    font-weight:lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:20px;
    margin-bottom: 10px;
}
.container-4 article .container4-a h3{
      color:white;
    font-size:20px ;
    font-weight:lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:10px;
    margin-bottom: 10px;

}
.container-4 article .container4-a p{
      color:white;
    font-size:20px ;
    font-weight:lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:10px;
    margin-bottom: 20px;

}
.container-4 article .container4-a button{
    padding: 10px 80px;
    font-size:20px ;
    background-color: transparent;
    color: white;
    border:1px solid white;
    margin-bottom: 30px;
}
.container-4 article .container4-a button:hover{
border:2px solid white;
}

